#tool {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  background-color: #e9ece5;
}

.header {
  width: 100%;
}

#tool .tool-headimg {
  position: relative;
  width: 100%;
}

#tool .split-line {
  position: relative;
  width: 100%;
  height: 35px;
  text-align: center;
}

#tool .split-line .line {
  width: 100%;
  margin: 49px 0;
  border: 1px solid #222;
  height: 0;
  color: #312c32;
}

#tool .split-line .split-title {
  position: absolute;
  width: 200px;
  left: 50%;
  margin-left: -100px;
  background-color: #e9ece5;
  margin-top: -30px;
  top: 0px;
}

#tool .tool-ul {
  width: 100%;
  overflow: hidden;
  padding: 0 20px;
}

#tool .tool-list {
  position: relative;
  float: left;
  width: 150px;
  height: 170px;
  background-color: #fff;
  margin: 10px;
  list-style-type: none;
  text-align: center;
  color: #312c32;
}

#tool .tool-list img {
  display: block;
  width: 80px;
  height: 80px;
  margin: 20px auto;
}

#tool .tool-list:hover {
  background-color: #f9f9f9;
}

#tool .soft-tool-list {
  position: relative;
  float: left;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  list-style-type: none;
  margin: 10px;
  background-color: #c2e2d7;
  border: 1px solid #ffd;
}

#tool .soft-tool-list:hover {
  background-color: #f9f9f9;
}

.soft-tool-list img {
  width: 60px;
  height: 60px;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 20px;
}

#tool .api-tool-list {
  position: relative;
  float: left;
  width: 150px;
  height: 50px;
  line-hegiht: 50px;
  background-color: #c2e2d7;
  list-style-type: none;
  margin: 10px;
  text-align: center;
  color: #312c32;
}

#tool .api-tool-list:hover {
  background-color: #f9f9f9;
}

#tool .tool-list h3 {
  color: #312c32;
}

.tool-clear-float {
  clear: both;
  margin-bottom: 20px;
}
